.cal103text {
    display:none;
}

.ma121text {
    display:none;
}

.cs115text {
    display:none;
}

.cs146text {
    display:none;
}

.pep111text {
    display:none;
}

.d110text {
    display:none;
}
